body {
    font-family: 'Comic Sans MS', sans-serif;
    background-color: #a9cfe2;
    margin: 5;
    padding: 5;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(10, 3, 36, 0.189);
}

h1 {
    text-align: center;
    color: #052d11;
}

.accordion-button {
    background-color: #4CAF50;
    color: white;
}

.accordion-button:not(.collapsed) {
    background-color: #45a049;
}

.accordion-body {
    background-color: #e8f5e9;
}
